body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"],
input[type="number"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    flex: 1;
}

li .quantity-container {
    display: flex;
    flex-direction: column; /* Alinha os botões verticalmente */
    align-items: center;
}

.quantity-button {
    padding: 7px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 18px; /* Ajusta o espaçamento entre os botões */
    
}

.delete-button {
    color: #ff0000;
    cursor: pointer;
}
